1_wsdl_jsp/HRClient/src/conf/xml-resources/web-service-references/EmployeeService/wsdl/localhost_8080/HRService/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://azur.fsre.ba/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://azur.fsre.ba/" name="EmployeeService">
<types>
<xsd:schema>
<xsd:import namespace="http://azur.fsre.ba/" schemaLocation="http://localhost:8080/HRService/EmployeeService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCurrentJobByEmployeeId">
<part name="parameters" element="tns:getCurrentJobByEmployeeId"/>
</message>
<message name="getCurrentJobByEmployeeIdResponse">
<part name="parameters" element="tns:getCurrentJobByEmployeeIdResponse"/>
</message>
<message name="getEmployeeInfoById">
<part name="parameters" element="tns:getEmployeeInfoById"/>
</message>
<message name="getEmployeeInfoByIdResponse">
<part name="parameters" element="tns:getEmployeeInfoByIdResponse"/>
</message>
<message name="getJobHistoryByEmployeeId">
<part name="parameters" element="tns:getJobHistoryByEmployeeId"/>
</message>
<message name="getJobHistoryByEmployeeIdResponse">
<part name="parameters" element="tns:getJobHistoryByEmployeeIdResponse"/>
</message>
<portType name="EmployeeService">
<operation name="getCurrentJobByEmployeeId">
<input wsam:Action="http://azur.fsre.ba/EmployeeService/getCurrentJobByEmployeeIdRequest" message="tns:getCurrentJobByEmployeeId"/>
<output wsam:Action="http://azur.fsre.ba/EmployeeService/getCurrentJobByEmployeeIdResponse" message="tns:getCurrentJobByEmployeeIdResponse"/>
</operation>
<operation name="getEmployeeInfoById">
<input wsam:Action="http://azur.fsre.ba/EmployeeService/getEmployeeInfoByIdRequest" message="tns:getEmployeeInfoById"/>
<output wsam:Action="http://azur.fsre.ba/EmployeeService/getEmployeeInfoByIdResponse" message="tns:getEmployeeInfoByIdResponse"/>
</operation>
<operation name="getJobHistoryByEmployeeId">
<input wsam:Action="http://azur.fsre.ba/EmployeeService/getJobHistoryByEmployeeIdRequest" message="tns:getJobHistoryByEmployeeId"/>
<output wsam:Action="http://azur.fsre.ba/EmployeeService/getJobHistoryByEmployeeIdResponse" message="tns:getJobHistoryByEmployeeIdResponse"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCurrentJobByEmployeeId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeInfoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJobHistoryByEmployeeId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://localhost:8080/HRService/EmployeeService"/>
</port>
</service>
</definitions>