1_wsdl_jsp/HRClient/web/WEB-INF/wsdl/localhost_8080/WebServis1/Servis1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://azureus.ba/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://azureus.ba/">

<xs:element name="baza" type="tns:baza"/>

<xs:element name="bazaResponse" type="tns:bazaResponse"/>

<xs:element name="geson" type="tns:geson"/>

<xs:element name="gesonResponse" type="tns:gesonResponse"/>

<xs:element name="getEmploymentsByEmployeId" type="tns:getEmploymentsByEmployeId"/>

<xs:element name="getEmploymentsByEmployeIdResponse" type="tns:getEmploymentsByEmployeIdResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="baza">
<xs:sequence>
<xs:element name="baza" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bazaResponse">
<xs:sequence>
<xs:element name="return" type="tns:region" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="geson">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="gesonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmploymentsByEmployeId">
<xs:sequence>
<xs:element name="employeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmploymentsByEmployeIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:employment" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employment">
<xs:sequence>
<xs:element name="department_name" type="xs:string" minOccurs="0"/>
<xs:element name="employee_id" type="xs:int" minOccurs="0"/>
<xs:element name="first_name" type="xs:string" minOccurs="0"/>
<xs:element name="job_title" type="xs:string" minOccurs="0"/>
<xs:element name="last_name" type="xs:string" minOccurs="0"/>
<xs:element name="max_salary" type="xs:double" minOccurs="0"/>
<xs:element name="min_salary" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>