1_wsdl_jsp/HRClient/web/WEB-INF/wsdl/localhost_8080/WebServis1/Servis1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://azureus.ba/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://azureus.ba/" name="Servis1">
<types>
<xsd:schema>
<xsd:import namespace="http://azureus.ba/" schemaLocation="http://localhost:8080/WebServis1/Servis1?xsd=1"/>
</xsd:schema>
</types>
<message name="geson">
<part name="parameters" element="tns:geson"/>
</message>
<message name="gesonResponse">
<part name="parameters" element="tns:gesonResponse"/>
</message>
<message name="baza">
<part name="parameters" element="tns:baza"/>
</message>
<message name="bazaResponse">
<part name="parameters" element="tns:bazaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getEmploymentsByEmployeId">
<part name="parameters" element="tns:getEmploymentsByEmployeId"/>
</message>
<message name="getEmploymentsByEmployeIdResponse">
<part name="parameters" element="tns:getEmploymentsByEmployeIdResponse"/>
</message>
<portType name="Servis1">
<operation name="geson">
<input wsam:Action="http://azureus.ba/Servis1/gesonRequest" message="tns:geson"/>
<output wsam:Action="http://azureus.ba/Servis1/gesonResponse" message="tns:gesonResponse"/>
</operation>
<operation name="baza">
<input wsam:Action="http://azureus.ba/Servis1/bazaRequest" message="tns:baza"/>
<output wsam:Action="http://azureus.ba/Servis1/bazaResponse" message="tns:bazaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://azureus.ba/Servis1/helloRequest" message="tns:hello"/>
<output wsam:Action="http://azureus.ba/Servis1/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getEmploymentsByEmployeId">
<input wsam:Action="http://azureus.ba/Servis1/getEmploymentsByEmployeIdRequest" message="tns:getEmploymentsByEmployeId"/>
<output wsam:Action="http://azureus.ba/Servis1/getEmploymentsByEmployeIdResponse" message="tns:getEmploymentsByEmployeIdResponse"/>
</operation>
</portType>
<binding name="Servis1PortBinding" type="tns:Servis1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="geson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="baza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmploymentsByEmployeId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servis1">
<port name="Servis1Port" binding="tns:Servis1PortBinding">
<soap:address location="http://localhost:8080/WebServis1/Servis1"/>
</port>
</service>
</definitions>